$default-font: -apple-system, "SF Pro Display", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"


$black: #000
$white: #fff

$accent: #DB6BA8
$pink: #a50eb0e6

$green: #49BD86
$green2: #12ad99

$dark: #195565
$main: #4995B2
$title: #3680A1
$l-blue: #f0fdff
$text-color: #8D8D8D
$btn-blue: #34bcd1
$gr-blue: #10a3b0e6
$bg-blue: #80C0D6
$bg: #F4F8FF
$gray: #ebebeb

$primary_lightest: #79C4D8

$color_quizzes_simple_light: #349A8E
$color_quizzes_intermediate_lightest: #55A0D7
$color_quizzes_advanced_lightest: #876BDA