$default-font: -apple-system, Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"


$black: #000
$white: #fff

$accent: #DB6BA8
$pink: #a50eb0e6

$green: #63B76C

$dark: #195565
$main: #4899b5
$title: #207b95
$l-blue: #f0fdff
$btn-blue: #34bcd1
$gr-blue: #10a3b0e6
$gray: #ebebeb