@import "fonts"
@import "libs"
@import "vars"

::placeholder
	color: $title

::selection
	background-color: $accent
	color: #fff

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: red
body input:required:valid,
body textarea:required:valid
	color: green

html
	height: 100%
	overflow-x: hidden

body
	height: 100%
	font-size: 16px
	position: relative
	line-height: 1.6
	font-family: $default-font
	color: $main
	font-weight: 300
	min-width: 320px
	overflow-x: hidden
	display: flex
	flex-direction: column

main
	flex: 1 0 auto 

img
	display: block
	max-width: 100%
	height: auto

a
	color: $accent
	font-weight: 500
	text-decoration: none
	transition: all .25s ease
	&:hover
		color: darken($accent, 10%)
		text-decoration: none

.btn
	border: none
	background-color: $accent
	color: $white
	padding: 6px 20px
	text-align: center
	width: auto
	cursor: pointer
	outline: none
	transition: all .25s ease
	display: inline-block
	border-radius: 30px
	&:hover
		background-color: darken($accent, 3%)
		color: $white
	&:active
		background-color: darken($accent, 10%)
		border-left: none
		border-right: none
		border-top: none
		border-bottom: none

h1, h2, h3, h4, h5, h6
	color: $title
	margin: 0

h1
	font-size: 55px
	line-height: 1.17

input
	color: $title
	background-color: $gray
	border: none
	border-radius: 30px
	padding: 12px 20px
	font-weight: 300
	&:focus
		outline: 2px solid rgba($main, .5)

@import "sections/header"
@import "sections/banner"


@import "sections/footer"
	


	


@import "media" // Всегда в конце