@import "fonts"
@import "libs"
@import "vars"

::placeholder
	color: $title

::selection
	background-color: $accent
	color: #fff

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: red
body input:required:valid,
body textarea:required:valid
	color: green

html
	height: 100%
	+media-breakpoint-down(md)
		overflow-x: hidden

body
	height: 100%
	font-size: 16px
	position: relative
	line-height: 1.6
	font-family: $default-font
	color: $main
	font-weight: 300
	min-width: 320px
	overflow-x: hidden
	display: flex
	flex-direction: column

main
	flex: 1 0 auto

img
	display: block
	max-width: 100%
	height: auto

a
	color: $accent
	font-weight: 500
	text-decoration: none
	transition: all .25s ease
	&:hover
		color: darken($accent, 10%)
		text-decoration: none

.btn
	border: none
	background-color: $accent
	color: $white
	padding: 6px 20px
	text-align: center
	width: auto
	cursor: pointer
	outline: none
	transition: all .25s ease
	display: inline-block
	border-radius: 30px
	&:hover
		background-color: darken($accent, 3%)
		color: $white
	&:active
		background-color: darken($accent, 10%)
		border-left: none
		border-right: none
		border-top: none
		border-bottom: none
	&.btn-green
		background-color: $green
		&:hover
			background-color: darken($green, 3%)
			color: $white
		&:active
			background-color: darken($green, 10%)
			border-left: none
			border-right: none
			border-top: none
			border-bottom: none
	&.btn-white
		background-color: $white
		color: $main
		&:hover
			background-color: darken($white, 3%)
			color: $main
		&:active
			background-color: darken($white, 10%)
			border-left: none
			border-right: none
			border-top: none
			border-bottom: none
	&.btn-blue
		background-color: $btn-blue
		color: $white
		&:hover
			background-color: darken($btn-blue, 3%)
			color: $white
		&:active
			background-color: darken($btn-blue, 10%)
			border-left: none
			border-right: none
			border-top: none
			border-bottom: none
			outline: 2px solid rgba($main, .5)

h1, h2, h3, h4, h5, h6
	color: $title
	margin: 0

h1
	font-size: 55px
	line-height: 1.17
	+media-breakpoint-down(xs)
		font-size: 36px

section
	h2
		font-size: 42px
		line-height: 1.23
		text-align: center
		margin-bottom: 40px
		+media-breakpoint-down(xs)
			font-size: 30px
			margin-bottom: 20px
	.sect-subtitle
		font-size: 24px
		line-height: 1.4
		text-align: center
		margin: 0 auto 40px
		max-width: 560px
		width: 100%
		+media-breakpoint-down(xs)
			font-size: 18px
			margin-bottom: 20px

.text-center
	text-align: center

input
	color: $title
	background-color: $gray
	border: none
	border-radius: 30px
	padding: 12px 20px
	font-weight: 300
	&:focus
		outline: 2px solid rgba($main, .5)

.visually-hidden 
	position: absolute
	clip: rect(0 0 0 0)
	width: 1px
	height: 1px
	margin: -1px

@import "sections/header"
@import "sections/banner"
@import "sections/items"
@import "sections/forcreators"
@import "sections/subscribe"

@import "sections/page-title"

@import "sections/team"
@import "sections/purpose"
@import "sections/reviews"

@import "sections/small-pages"
@import "sections/temporary"

@import "sections/footer"
	


	


@import "media" // Всегда в конце