.btn
	border: none
	background-color: $accent
	color: $white
	padding: 8px 20px
	text-align: center
	min-width: 160px
	width: auto
	cursor: pointer
	outline: none
	transition: all .25s ease
	display: inline-block
	border-radius: 100px
	line-height: 19px
	&:hover
		background-color: darken($accent, 3%)
		color: $white
	&:active
		background-color: darken($accent, 10%)
		border-left: none
		border-right: none
		border-top: none
		border-bottom: none
	&.btn-green
		background-color: $color_quizzes_simple_light
		&:hover
			background-color: darken($color_quizzes_simple_light, 3%)
			color: $white
		&:active
			background-color: darken($color_quizzes_simple_light, 10%)
			border-left: none
			border-right: none
			border-top: none
			border-bottom: none
	&.btn-purple
		background-color: $color_quizzes_advanced_lightest
		&:hover
			background-color: darken($color_quizzes_advanced_lightest, 3%)
			color: $white
		&:active
			background-color: darken($color_quizzes_advanced_lightest, 10%)
			border-left: none
			border-right: none
			border-top: none
			border-bottom: none
	&.btn-white
		background-color: $white
		color: $main
		&:hover
			background-color: darken($white, 3%)
			color: $main
		&:active
			background-color: darken($white, 10%)
			border-left: none
			border-right: none
			border-top: none
			border-bottom: none
	&.btn-blue
		background-color: $color_quizzes_intermediate_lightest
		color: $white
		&.btn-o
			background-color: transparent
			border: 1px solid $color_quizzes_intermediate_lightest
			color: $color_quizzes_intermediate_lightest
		&:hover
			background-color: darken($color_quizzes_intermediate_lightest, 3%)
			color: $white
		&:active
			background-color: darken($color_quizzes_intermediate_lightest, 10%)
			border-left: none
			border-right: none
			border-top: none
			border-bottom: none
			outline: 2px solid rgba($color_quizzes_intermediate_lightest, .5)

.sign-menu
	@include media-breakpoint-down(lg)
		margin-top: 30px !important
	.btn, .btn-o
		padding: 0 
		height: auto
		min-width: 1px
		line-height: 1
		border-radius: 100px
		margin: 0 5px
		&:hover
			background-color: darken($accent, 3%)
			color: $white
		@include media-breakpoint-down(lg)
			background-color: transparent !important
		a
			height: auto
			line-height: 1
			padding: 12px 24px
