.about
	background: linear-gradient(360deg, #D6DFEE 0%, #F4F8FF 63.11%, rgba(255, 255, 255, 0) 100%)
	@include media-breakpoint-down(md)
		.container
			max-width: 100%
			padding: 0
	@include media-breakpoint-down(sm)
		h2
			padding: 0 15px
	&-grid
		position: relative
		img
			max-width: 920px
			width: 100%
			height: auto
			margin: 80px auto
			@include media-breakpoint-down(md)
				margin: 40px auto
			@include media-breakpoint-down(sm)
				margin: 30px auto 120px
		&:before
			content: ''
			position: absolute
			bottom: -270px
			left: -95px
			z-index: 1
			width: 274px
			height: 454px
			background-image: url(../img/pages/about/ball-01.svg)
			background-size: cover
			transform: rotate(-11.89deg)
			@include media-breakpoint-down(xl)
				left: -190px
			@include media-breakpoint-down(lg)
				transform: rotate(-11.89deg) scale(.8)
			@include media-breakpoint-down(md)
				transform: rotate(-11.89deg) scale(.5)
				left: -110px
			@include media-breakpoint-down(sm)
				transform: rotate(-11.89deg) scale(.4)
				left: -135px
			@media(max-width: 400px)
				transform: rotate(-11.89deg) scale(.3)
	&-subtitle
		position: relative
		z-index: 1
		&:before, &:after
			content: ''
			position: absolute
			z-index: -1
			width: 190px
			height: 120px
			background-image: url(../img/pages/about/cloud-05.svg)
			background-size: cover
			transform: scale(.8)
			// opacity: .8
		&:before
			left: -230px
			bottom: 0
			@include media-breakpoint-down(md)
				left: -180px
			@include media-breakpoint-down(sm)
				display: none
		&:after
			right: -230px
			top: 0
			@include media-breakpoint-down(md)
				right: -180px
			@include media-breakpoint-down(sm)
				right: -50px
				top: -20px

.inspirers
	position: relative
	&:before, &:after
		content: ''
		position: absolute
		z-index: 1
		width: 190px
		height: 120px
		background-image: url(../img/pages/about/cloud-05.svg)
		background-size: cover
	&:before
		left: 0
		bottom: -70px
		@include media-breakpoint-down(lg)
			left: -160px
		@include media-breakpoint-down(md)
			left: 0
			transform: scale(.6)
			opacity: 0.46
		@include media-breakpoint-down(sm)
			left: -80px
	&:after
		right: 0
		top: 70px
		@include media-breakpoint-down(xl)
			top: -10px
		@include media-breakpoint-down(lg)
			right: -30px
			top: -60px
		@include media-breakpoint-down(md)
			right: 0
			top: -30px
			transform: scale(.6)
			opacity: 0.46
		@include media-breakpoint-down(sm)
			right: -80px
	h2
		position: relative
		&:before, &:after
			content: ''
			position: absolute
			z-index: 1
			width: 190px
			height: 120px
			background-image: url(../img/pages/about/cloud-05.svg)
			background-size: cover
			left: 100px
			bottom: -30px
			opacity: 0.27
			transform: scale(.8)
			@include media-breakpoint-down(lg)
				left: 0
			@include media-breakpoint-down(md)
				display: none


.resources-block
	position: relative
	@include media-breakpoint-down(sm)
		padding-top: 0px !important
	&:before
		content: ''
		position: absolute
		top: -260px
		right: 0
		z-index: 1
		width: 162px
		height: 265px
		background-image: url(../img/pages/about/ball-02.svg)
		background-size: cover
		transform: rotate(-11.89deg)
		@include media-breakpoint-down(md)
			transform: rotate(-11.89deg) scale(.6)
			top: -300px
			right: -50px
		@include media-breakpoint-down(sm)
			transform: rotate(-11.89deg) scale(.5)
			top: -300px
			right: 0
		@media(max-width: 400px)
			transform: rotate(-11.89deg) scale(.3)
			top: -290px
			right: -50px

.resources-item
	@include media-breakpoint-down(sm)
		flex-direction: column
		.resources-item__icon
			margin-bottom: 16px
