.about
	background: linear-gradient(360deg, #D6DFEE 0%, #F4F8FF 63.11%, rgba(255, 255, 255, 0) 100%)
	&-grid
		position: relative
		img
			max-width: 920px
			width: 100%
			height: auto
			margin: 80px auto
		&:before
			content: ''
			position: absolute
			bottom: -250px
			left: -110px
			z-index: 1
			width: 274px
			height: 454px
			background-image: url(../img/pages/about/ball-1.svg)
			background-size: cover
