.banner
	background-size: contain
	background-repeat: no-repeat
	background-position: right top
	+media-breakpoint-down(md)
		background-size: cover
	.container
		+media-breakpoint-down(md)
			max-width: 100%
		+media-breakpoint-down(sm)
			max-width: 90%
		+media-breakpoint-down(xs)
			max-width: 100%
	&__block
		min-height: 700px
		height: 100vh
		padding: 80px 0
		flex-wrap: wrap
		+media-breakpoint-down(sm)
			height: auto
			padding-top: 120px
		+media-breakpoint-down(xs)
			padding-bottom: 30px
	&__item
		width: 50%
		+media-breakpoint-down(sm)
			width: 100%
	h1
		max-width: 460px
		margin-bottom: 25px
		+media-breakpoint-down(md)
			font-size: 40px
		+media-breakpoint-down(sm)
			max-width: 100%
			br
				display: none
		+media-breakpoint-down(xs)
			font-size: 34px
			font-weight: bold
	&__subtitle
		font-size: 26px
		color: $title
		+media-breakpoint-down(md)
			font-size: 20px
		+media-breakpoint-down(xs)
			font-weight: 500
	&__form
		max-width: 370px
		width: 100%
		margin: 0 auto
		background-color: $white
		text-align: center
		padding: 34px
		border-radius: 30px
		box-shadow: 0 0 20px rgba($dark, .1)
		+media-breakpoint-down(md)
			margin: 0 0 0 auto
		+media-breakpoint-down(sm)
			margin: 30px auto 0
		+media-breakpoint-down(xs)
			padding: 30px 15px

		h4
			font-size: 20px
			margin-bottom: 20px
			text-transform: capitalize
		form
			input
				display: block
				width: 100%
				margin-bottom: 20px
			.btn
				padding: 12px 20px
				display: block
				width: 100%
				text-align: center