.header
	position: fixed
	top: 0
	left: 0
	width: 100%
	z-index: 10
	flex: 0 0 auto
	background-color: $main
	color: $white
	transition: top .5s ease
	&.hide
		top: -82px
	&.show
		top: 0
		box-shadow: 0 10px 20px rgba($dark, .5)
	&__wrap
		max-width: 1600px
		width: 100%
		margin: 0 auto
		padding: 20px 15px
	&__logo
		display: block
		img
			min-width: 180px
			max-width: 200px
			height: auto
	&__menu
		+media-breakpoint-down(md)
			height: calc(100vh - 80px)
			background-color: $main
			position: absolute
			width: 100%
			z-index: 2
			top: 80px
			right: -100%
			transition: all .2s ease-in-out
			flex-direction: column
			overflow-y: auto
			&.open
				right: 0
		ul
			display: flex
			align-items: center
			list-style-type: none
			padding: 0
			margin: 0
			+media-breakpoint-down(md)
				flex-direction: column
				justify-content: center
			li
				margin: 0 10px
				a
					text-transform: uppercase
				+media-breakpoint-down(md)
					width: 100%
					margin: 0
					a
						width: 100%
						display: block
						text-align: center
						padding: 12px 0
						&:hover
							background-color: $white
				&.active
					a
						color: $accent
						+media-breakpoint-down(md)
							background-color: $white
				a
					color: $white
					&:hover
						color: $accent
	.btn
		text-transform: none
		&.btn-o
			background-color: transparent
			&:hover
				background-color: darken($accent, 3%)
			+media-breakpoint-down(md)
				border-radius: 0
				text-transform: uppercase
				&:hover
					background-color: $white
					color: $accent
		+media-breakpoint-down(md)
				border-radius: 0
				background-color: transparent
				text-transform: uppercase
				&:hover
					background-color: $white
					color: $accent !important
		&:hover
			color: $white

.mobile-btn
	display: none
	width: 50px
	height: 50px
	background-color: transparent
	border: none
	cursor: pointer
	outline: none
	+media-breakpoint-down(md)
		display: block
	&:focus
		outline: none
	span
		width: 25px
		height: 2px
		background-color: $white
		display: block
		margin: 3px auto
		transform: rotate(0)
		opacity: 1
		transition: all .2s ease-in-out
	&.active span
		&:first-child
			background-color: $accent
			transform: rotate(45deg)
			position: relative
			top: 5px
		&:nth-child(2)
			opacity: 0
		&:last-child
			background-color: $accent
			transform: rotate(-45deg)
			position: relative
			top: -5px