.header
	position: fixed
	top: 0
	left: 0
	width: 100%
	z-index: 10
	flex: 0 0 auto
	background-color: $main
	color: $white
	transition: top .5s ease
	height: 60px
	&.hide
		top: -64px
	&.show
		top: 0
		box-shadow: 0 10px 20px rgba($dark, .5)
		background-color: $main !important
	&__wrap
		max-width: 1377px
		width: 100%
		margin: 0 auto
		height: 100%
		padding: 0 15px
	&__logo
		display: block
		flex: 0 0 155px
		img
			max-width: 135px
			width: 100%
			height: auto
	&__menu
		height: 100%
		flex: 1 0 auto
		+media-breakpoint-down(md)
			height: calc(100vh - 60px)
			background-color: $main
			position: absolute
			width: 100%
			z-index: 2
			top: 60px
			right: -100%
			transition: all .2s ease-in-out
			flex-direction: column
			justify-content: flex-start !important
			overflow-y: auto
			&.open
				right: 0
		ul
			display: flex
			align-items: center
			list-style-type: none
			padding: 0
			margin: 0
			+media-breakpoint-down(md)
				width: 100%
				flex-direction: column
				justify-content: center
			li
				height: 100%	
				transition: all .5s ease				
				a
					text-transform: uppercase
					height: 100%
					display: inline-block
					line-height: 60px
					font-weight: 600
					color: $white
					padding: 0 25px
					+media-breakpoint-down(md)
						height: auto
						line-height: 1.6
				&.ttn
					&:last-child
						margin-right: -15px
					a
						text-transform: none
					+media-breakpoint-down(md)
						margin-right: 0 !important
				+media-breakpoint-down(md)
					width: 100%
					margin: 0
					height: auto
					a
						width: 100%
						display: block
						text-align: center
						padding: 12px 0
				+media-breakpoint-up(lg)
					&:hover
						background-color: darken($main, 5%)
				&.active
					background-color: darken($main, 5%)
					

.mobile-btn
	display: none
	width: 50px
	height: 50px
	background-color: transparent
	border: none
	cursor: pointer
	outline: none
	position: absolute
	right: 15px
	+media-breakpoint-down(md)
		display: block
	&:focus
		outline: none
	span
		width: 25px
		height: 2px
		background-color: $white
		display: block
		margin: 3px auto
		transform: rotate(0)
		opacity: 1
		transition: all .2s ease-in-out
	&.active span
		&:first-child
			background-color: $accent
			transform: rotate(45deg)
			position: relative
			top: 5px
		&:nth-child(2)
			opacity: 0
		&:last-child
			background-color: $accent
			transform: rotate(-45deg)
			position: relative
			top: -5px