.page-excerpt
  &:nth-child(even)
    .page-excerpt__block
      flex-direction: row-reverse
  &__block
  &__text
    flex: 0 0 30.7%
    text-align: left
    h2
      text-align: left
    a
      margin-top: 32px
    p
      margin-bottom: 0
  &__image
    flex: 0 0 56%
    img
      max-width: 550px
      width: 100%
      height: auto
      margin: 0 auto