.page__title
	min-height: 300px
	height: auto
	margin-bottom: 200px
	color: $white
	background-color: $main
	padding-top: 80px
	display: flex
	flex-direction: column
	justify-content: flex-end
	position: relative
	+media-breakpoint-down(xs)
		padding-top: 110px
		min-height: 0
		margin-bottom: 150px
	&:after
		content: ''
		display: inline-block
		position: absolute
		left: 0
		top: 100%
		width: 100%
		height: 200px
		background-image: url(../img/title_wave.svg)
		background-size: cover
		background-position: center bottom
		+media-breakpoint-down(xs)
			height: 150px
	h1
		color: $white
		text-transform: uppercase
		letter-spacing: 2px
	.suptitle
		font-weight: 700
		text-transform: uppercase
		letter-spacing: 3px
		margin-bottom: 15px
		+media-breakpoint-down(xs)
			font-size: 14px
			letter-spacing: 2px
	&.contacts-title
		min-height: 400px
		justify-content: center
		margin-bottom: 80px
		&:after
			display: none
		.container
			display: flex
			flex-direction: column
		+media-breakpoint-down(sm)
			min-height: 340px
			margin-bottom: 40px
		h1
			order: 1
			margin-bottom: 5%
			font-size: 80px
			text-transform: none
			+media-breakpoint-down(sm)
				font-size: 50px
			+media-breakpoint-down(xs)
				font-size: 40px
		.suptitle
			order: 2
			margin: 0
			font-size: 26px
			font-weight: 300
			text-transform: none
			+media-breakpoint-down(sm)
				font-size: 20px
