.page-excerpt
  &:nth-child(even)
    .page-excerpt__block
      flex-direction: row-reverse
    // .page-excerpt__image
    //   img
    //     margin-left: auto
  &__block
  &__text
    flex: 0 0 30.7%
    text-align: left
    h2
      text-align: left
    p
      margin-bottom: 32px
  &__image
    flex: 0 0 56%
    img
      max-width: 520px
      width: 100%
      height: auto
      margin: 0 auto